html {
  width: 100%;
  background: rgb(0, 0, 0);
  height: 1000px;
  align-items: center;
  text-align: left;

  background-attachment: fixed;
  background-position: center;
  font-family: "Trade Gothic LT Std", sans-serif;
}