.my-card {
    width: 500px;
    height: 300px;
    /* Establecer una altura fija para las tarjetas */
    margin: 50px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my-card:hover {
    transform: scale(1.1);
}

.card-content {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-image {
    flex: 1;
    object-fit: cover;
    /* Ajustar el modo de ajuste de la imagen */
}


body {
    background-image: url('img/wp2757874.gif');
    width: 100%;
    align-items: center;
    text-align: left;
    background-attachment: fixed;
    background-position: center;
    font-family: "Trade Gothic LT Std", sans-serif;

}